# Root-level ignores
install/
build/

# Ignores within the open5gs directory
open5gs/subprojects/freeDiameter
open5gs/subprojects/libtins
open5gs/subprojects/prometheus-client-c
open5gs/subprojects/usrsctp
open5gs/webui/.next
